<a href="https://colab.research.google.com/github/BinduPriya42/DataScience/blob/master/DataScience_HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Write a code to bring data into a Pandas DataFrame called “df”.**

In [1]:
import pandas as pd
df=pd.read_csv("earthquakes.csv")
print (df)

     alert  cdi  ...                                                url parsed_place
0      NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
1      NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
2      NaN  4.4  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
3      NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
4      NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
...    ...  ...  ...                                                ...          ...
9327   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
9328   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
9329   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...  Puerto Rico
9330   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
9331   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California

[9332 rows x 27 columns]

**2.Write a code to inspect your data using DataFrame ‘df’ attributes ‘shape’, ‘columns’, and display the first five rows using method ‘head()’**

In [2]:
import pandas as pd

#reading the data set
df =pd.read_csv("earthquakes.csv")

#print columns
print("Column : ")
print(df.tail())
print("\n")
shape = df.shape


# shape
print("Shape ={}\nShape[0] x Shape[1] = {}".
format(shape, shape[0]*shape[1]))

print("\n")


#display first five rows 
print("first five rows :")
print(df.head(5))

Column :
     alert  cdi  ...                                                url parsed_place
9327   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
9328   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
9329   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...  Puerto Rico
9330   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
9331   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California

[5 rows x 27 columns]


Shape =(9332, 27)
Shape[0] x Shape[1] = 251964


first five rows :
  alert  cdi  ...                                                url parsed_place
0   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
1   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
2   NaN  4.4  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
3   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California
4   NaN  NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...   California

[5 rows x 27 columns]

**3.Write a statement to print unique values (hint: use unique() method) available in the ‘alert’ column and display them as a list. Write a comment with other alert values available consulting the USGS API documentation for the alert field.**

In [3]:
import pandas as pd

#reading the data set
df =pd.read_csv("earthquakes.csv")

#first get info using info()
print("'check data frame info' \n")
print(df.info())

print("\n")
print("\n")

# To print unique values available in the ‘alert’ column and display them as a list
print("unique values in the alert : \n ")
print(df['alert'].unique().tolist())

'check data frame info'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alert         59 non-null     object
 1   cdi           329 non-null    float64
 2   code          9332 non-null   object
 3   detail        9332 non-null   object
 4   dmin          6139 non-null   float64
 5   felt          329 non-null    float64
 6   gap           6164 non-null   float64
 7   ids           9332 non-null   object
 8   mag           9331 non-null   float64
 9   magType       9331 non-null   object
 10  mmi           93 non-null     float64
 11  net           9332 non-null   object
 12  nst           5364 non-null   float64
 13  place         9332 non-null   object
 14  rms           9332 non-null   float64
 15  sig           9332 non-null   int64
 16  sources       9332 non-null   object
 17  status        9332 non-null   object
 18  time          9332 non-null   int64
 19  title         9332 non-null   object
 20  tsunami       9332 non-null   int64
 21  type          9332 non-null   object
 22  types         9332 non-null   object
 23  tz            9331 non-null   float64
 24  updated       9332 non-null   int64
 25  url           9332 non-null   object
 26  parsed_place  9332 non-null   object
dtypes: float64(9), int64(4), object(14)
memory usage: 1.9+ MB
None




unique values in the alert :

[nan, 'green', 'red']

**4. Write a statement to print the columns “title” and “time” of ‘df’ in row index 100 through 105.**

In [3]:
import pandas as pd

df=pd.read_csv('earthquakes.csv')

tt=df[ ['time','title']]
print(tt.iloc[100:106])

              time                                  title
100  1539435449480       M 1.2 - 25km NW of Ester, Alaska
101  1539435391320   M 0.6 - 8km ESE of Mammoth Lakes, CA
102  1539435293090         M 1.3 - 8km ENE of Aguanga, CA
103  1539434854250            M 0.0 - 5km WSW of Anza, CA
104  1539434531500   M 1.6 - 10km S of Progreso, B.C., MX
105  1539434338510  M 0.6 - 12km N of Borrego Springs, CA

**5. Using python list comprehension, and the given ‘df.columns’, select all of the columns that start with ‘mag’, along with the ‘title’ , ‘parsed_place’ and ‘time’ columns. Hint: Use python string method “startswith()” to find all the columns that start with the term ‘mag’.**

In [14]:
import pandas as pd
# Load some data
df = pd.read_csv("earthquakes.csv")
#c = df.loc[:,df.columns.str.startswith('mag')]

c = [col for col in df if col.startswith('mag')]
#df.columns.str.startswith('mag')
cols = (c + ['title', 'parsed_place', 'time'])

txt = df[cols]
print (txt)

       mag magType  ... parsed_place           time
0     1.35      ml  ...   California  1539475168010
1     1.29      ml  ...   California  1539475129610
2     3.42      ml  ...   California  1539475062610
3     0.44      ml  ...   California  1539474978070
4     2.16      md  ...   California  1539474716050
...    ...     ...  ...          ...            ...
9327  0.62      md  ...   California  1537230228060
9328  1.00      ml  ...   California  1537230135130
9329  2.40      md  ...  Puerto Rico  1537229908180
9330  1.10      ml  ...   California  1537229545350
9331  0.66      ml  ...   California  1537228864470

[9332 rows x 5 columns]

**6.Using the selection in exercise (5) above, find all the earthquakes with the magnitude greater than or equal to 6.0 and display only the ‘parsed_place’ and the ‘mag’ columns.**

In [18]:
mag1 = txt[txt.mag>= 6.0]
mag2= mag1[['parsed_place', 'mag']]
print(mag2)

                parsed_place  mag
118                   Russia  6.7
799                   Russia  6.5
816         Papua New Guinea  6.2
837         Papua New Guinea  7.0
838         Papua New Guinea  6.1
862                Indonesia  6.0
1267                  Russia  6.0
3699               Indonesia  6.0
4363                    Fiji  6.7
5263               Indonesia  7.5
5323               Indonesia  6.1
9211  Southwest Indian Ridge  6.0

**7.Using the original DataFrame ‘df ‘, find the earthquakes with a red alert (df.alert == ‘red’) and a tsunami (df.tsunami ==1) and display only the ‘parsed_place’ and the ‘mag’ columns.**

In [19]:
col = df[(df.alert == 'red')& (df.tsunami == 1)]
col1 =col[['parsed_place','mag']]
print(col1)

     parsed_place  mag
5263    Indonesia  7.5

**8.Find the 90th percentile (hint: use ‘quantile()’ method) of earthquake magnitude in Japan using the magType of 'mb'.**

In [22]:
type1 =df[df['magType'] == 'mb']
type2=type1.loc[type1['place'].str.contains("Japan")]
per=type2.quantile(0.9)
print(per)

cdi        3.800000e+00
dmin       2.398500e+00
felt       1.900000e+01
gap        1.473000e+02
mag        4.800000e+00
mmi                 NaN
nst                 NaN
rms        1.105000e+00
sig        3.575000e+02
time       1.539029e+12
tsunami    0.000000e+00
tz         6.000000e+02
updated    1.539324e+12
Name: 0.9, dtype: float64

9.Get summary statistics (hint: use ‘describe()’ method) for earthquakes in California.

In [24]:
summary =df [df.parsed_place == 'California']
summary.describe()

              cdi         dmin        felt  ...      tsunami      tz       updated
count  110.000000  2861.000000  110.000000  ...  2861.000000  2860.0  2.861000e+03
mean     2.537273     0.048929   19.172727  ...     0.000350  -480.0  1.538367e+12
std      0.761560     0.066996   76.864095  ...     0.018696     0.0  6.139001e+08
min      0.000000     0.000648    0.000000  ...     0.000000  -480.0  1.537230e+12
25%      2.000000     0.010460    1.000000  ...     0.000000  -480.0  1.537893e+12
50%      2.200000     0.026580    1.000000  ...     0.000000  -480.0  1.538407e+12
75%      3.100000     0.066810    3.750000  ...     0.000000  -480.0  1.538825e+12
max      4.500000     0.992900  580.000000  ...     1.000000  -480.0  1.539537e+12

[8 rows x 13 columns]

**10.(Optional: complete this to receive bonus 10pts) Add a column called ‘ring_of_fire’ to the ‘df’ indicating whether or not the earthquake happened in a country or US state that is on the Ring of Fire. Use Bolivia, Chile, Ecuador, Peru, Costa Rica, Guatemala, Mexico (be careful not to select New Mexico), Japan, Philippines, Indonesia, New Zealand, Antarctic, Canada, Fiji, Alaska, Washington, California, Russia, Taiwan, Tonga, and Kermadec Islands**